html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Courier New', monospace;
  width: 100%;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  position: fixed;
  z-index: 99;
  background: transparent;
  padding: 16px;
  font-size: 12px;
  color: #ffffff;
  width: 100%;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 32px;
  font-size: 2em;
}

.nav > a {
  color: #ffffff;
  cursor: pointer;
  font-weight: 600;
  text-shadow: 2px 2px black;
}

.nav > a:hover {
  color: #ffffff;
  text-decoration: underline;
}
